%h1 Recover Account
Enter your email below and we'll send you an email with instructions on how to reset your password:
= form_for(:user, :url => reset_pass_users_path) do |f|
	= f.text_field :email
	= f.submit "Submit"