
.left
	.title 
		Let others decide what's important.
	.description
		%strong People 
		trying to reach you 
		%strong know if something is urgent.  
		They can also guess if something is 
		%strong important to you.  
		The problem is they rarely have incentive to align their interests with your own.  Now they do.

.center
	.title
		Ignore if you disagree.
	.description
		If you consistently disagree with someone's assessment of urgency/importance, you'll 
		%strong stop getting notices 
		about their communication.  Or you can block them right away.  Either way, if people know they risk being ignored if they don't consider your interests, 		
		%strong they'll think twice about interrupting you.

.right
	.title
		Trust if you agree.
	.description
		If you consistently agree with someone's assessments, over time you'll 
		%strong trust them more to be considerate.  
		Their notices will be more prominent, since you know they're more meaningful.  This adds additional 
		%strong incentive for people to be considerate
		, to ensure they can reach you when it counts.