%h2= content
%p
	Notifier helps people avoid interruption by ensuring only the right messages get your attention.  
	%br
	%h3 How does it work?  
	Notifier incentivizes people trying to communicate with you to consider if something is important enough to get your attention.  If someone is considerate, they'll gain your trust, making it easier for them to reach you in the future when it matters.  If they are inconsiderate, they won't get your attention.
	%br 
	%br
	Whenever someone sends you a message they think is important, you'll get a notice about it asking if you agree with their assessment.  If you don't, future messages they send will be less likely to interrupt you, while if you do, their future messages will be more noticeable. 
	%br
	%br
	%strong No more crying wolf.
	