%h2= content
%p
	Notifier helps people avoid interruption by ensuring only the right messages get your attention.  
	%br
	%h4 How does it work?  
	Whenever someone sends you a message, notifier asks them to rate how urgent and important they think the message is. If they mark it urgent/important, you'll get a notice about it then be asked if you agree with their assessment.  If you don't, future messages they send will be less likely to interrupt you, while if you do, their future messages will be more noticeable. 
	%br
	%br
	%strong No more crying wolf.
	%br
	%br
	%br
	= button_to "Sign up now!", user_omniauth_authorize_path(:open_id, :openid_url => "https://www.google.com/accounts/o8/id"), :class => "cupid-green"