%h2 New Messages
- unless current_user.received_messages.empty?
	.messages
		- current_user.received_messages.each do |message|
			- if message.sender.reliable_to( current_user ) && message.disagree.nil?
				- if message.sender.reliability_to( current_user ) == "Reliable"
					= render :partial => 'messages/important_message', 
							 :locals => {:message => message }
				- else
					= render message