// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
@include blueprint;

// But Compass recommends that you scope your blueprint styles
// So that you can better control what pages use blueprint
// when stylesheets are concatenated together.
//@include blueprint-scaffolding("body.bp");

body.bp {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
}
* { padding: 0; font-family: $master-font;}

li { list-style-type: none;

	vertical-align: top;}

//nav, body { 	@include showgrid; }

h1, h2, h3, h4, h5 { color: $main-very-dark; }

* { 
	color: $std-text-color; }
a {
	color: $std-text-color;
	text-decoration: none; }
	
a:hover {
  color: $main;
  text-decoration: underline;
}

.marketing {
	padding-top: 1.5em;
}

header { border-top: 2px solid $main-very-dark;
	background-color: $main-dark;
 }

footer { 
	margin-top: 1em;
	border-top: 1px solid $border-color;
	background-color: $back-color;
	* {color: $quiet-text-color;} }

#content {
	margin-top: 1em;
	min-height: 350px;
 }

#footer_info {
	margin-top: 1em;
}

div#avatar {
	@include column(5); }

div#bio {
	@include column(16, last); }

.team {
	padding: 0;
	li { padding: 0 8px 0 0; } }

.container { padding: 0 1.5em 0 1.5em;
	//@include showgrid();
 	margin: auto;
}

.avatar {
	float: left;
	margin-top: 3px;
}

.messages, .users {
	padding-left: 1em;
}

.message_content, .user_information {
	margin-left: 58px;
}

.agreement {
	font-size: 12px;
}

a.disagree:hover { color: $bad; }
a.agree:hover { color: $good; }

.message, div.urgent1, div.urgent2, div.urgent3 {
	min-height: 100px;
	border-bottom: 1px solid $border-color;
	padding-top: 10px;
	width: 450px;
}

div.urgent1 { background-color: lighten($bad, 35%); }
div.urgent2 { background-color: lighten($caution, 35%); }
div.urgent3 { background-color: lighten($good, 35%); }


.user {
	min-height: 70px;
	border-bottom: 1px solid $border-color;
	padding-top: 10px;
	width: 450px;
}

span.urgent1 { color: $bad; }
span.urgent2 { color: $caution; }
span.urgent3 { color: $good; }

.message_user_alias {
	font-weight: bold;
	font-size: 15px;
}

.message_user_name {
	font-size: 12px;
	color: $quiet-text-color;
}

.message_timestamp {
	font-size: 11px;
	color: $quiet-text-color;
}

.marketing {
	background-color: $main;
	p { color: $marketing-color; }
	.container { padding: 0; }
	h1 {
		@include shadow;
		margin: 0;
		padding-bottom: .5em;
		font-family: $marketing-font;
		color: $marketing-color; } }

.toDo { color: $attention-color; }


#subnav {
	background-color: $main-light;
	border-bottom: 1px solid $border-color;
	padding-top: 6px;
	padding-bottom: 2px; }

//body {margin-top: 40px; padding-top: 1em; }

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

section {
  font-size: 120%;
}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: $bad;
  display: table;
}

#error_explanation {
  width: 400px;
  border: 2px solid $bad;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

#logo { 
	@include column(6);
	@include shadow;
	a {
		font-size: 4em;
		color: $back-color;
		//margin: 0;
		font-family: $logo-font;
		&:hover {
			text-decoration: none;
			color: $main-light;
		}
		//line-height: 1em;
		//padding: 0; 
	}
}

#nav {
	@include column(12, last);
	@include push(1);
	@include shadow;
	margin: 0;
	padding-top: 2em;
	//float: right;
	//line-height: 4em;
	
	//background-color: $main-dark;
	white-space: nowrap;
	ul { 
		margin: 0;
		padding: 0;
		li {
		 	display: inline-block;
			//padding-bottom: 2em;
			
			a{
				padding: .5em 1em 1em 1em;
				@include top-round;
				//font-weight: bold;
				font-family: $marketing-font;
				font-size: 200%;
				color: $back-color;
				&:hover { 
					text-decoration: none;
					background-color: $main-very-dark;}
			}
		}
	} 
}

ul li a#nav_selected { 
	background-color: $main;
	&:hover { background-color: $main; } 
}

#sign_in {
	@include column(10);
	@include push(1);
	#session_email, #session_password { width: 137px; }
}

#sign_out {
	float: right;
	a {
		color: $main;
		&:hover { color: $main-light; }
	}
}

.current_avatar {
	float: right;
	img { border: 2px solid $main-light; }
}

#sidebar {
	@include column(8, last);
	@include push(1);
	
}

.profile {
	@include column(16);
}

.profile_content {
	margin-left: 137px;
	h2 { padding: 0; }
}

.profile_name {
	font-size: 2.5em;
	color: $main-dark;
}

.profile_alias {
	padding-left: .1em;
	color: $std-text-color;
	font-size: 1.5em;
}

.profile_feed {
	@include column(10);
	padding-top: 1.5em;
}

.reliable, .unreliable, .untested, .unknown { padding-left: .1em; font-size: 1.25em;}
.reliable { color: $good; }
.unreliable { color: $bad; }
.untested { color: $caution; }
.unknown { color: $quiet-text-color; }

a.signup_button {

  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #FF7519;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;

	&:hover {
		@include shadow;
		background: #0F0;
		text-decoration: none;
	}
}

/* Round corners */

.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

form.bp {
  @include blueprint-form; }

// Page layout can be done using mixins applied to your semantic classes and IDs:
body.two-col {
  #container {
    @include container; }
  #header, #footer {
    @include column($blueprint-grid-columns); }
  #sidebar {
    // One third of the grid columns, rounding down. With 24 cols, this is 8.
    $sidebar-columns: floor($blueprint-grid-columns / 3);
    @include column($sidebar-columns); }
  #content {
    // Two thirds of the grid columns, rounding up.
    // With 24 cols, this is 16.
    $content-columns: ceil(2 * $blueprint-grid-columns / 3);
    // true means it's the last column in the row
    @include column($content-columns, true); } }
