We aim to bring more 
%strong{:style => "color: Lime"} emotion
to the experiences you have on the internet.  So much of what's out there is presented in text, or in a way that doesn't clearly show the emotion behind the experience.
%strong We want to change that.
When you share stuff with other people online, they should instantly feel the emotion behind what you're sharing -- what you feel.
