%strong Tough problems require creative solutions.
%br
%br
The best way to think of creative solutions is to focus, avoid interruptions, 
%strong be in the zone.
%br
%br
It would be great to ignore the world when we need to focus, but not all of us
have that luxury. We need to be available, to check email, to answer phones or instant
messages so we 
%strong don't miss something important.
%br
%br
This is where Notifier helps.  It gives you
%strong peace of mind
by ensuring you get notified of only important communication so you can shut out
everything else and easily stay in the zone.