.marketing
	- if @slogan
		- unless user_signed_in?
			.container
				.slogan
					%h1= @slogan
				= link_to "Try it with Gmail", user_omniauth_authorize_path(:open_id, :openid_url => "https://www.google.com/accounts/o8/id"), :class => "signup"