= stylesheet_link_tag 'compiled/screen.css', :media => 'only screen'
= stylesheet_link_tag 'compiled/print.css', :media => 'print'
= stylesheet_link_tag 'compiled/iphone.css', :media => "only screen and (-webkit-min-device-pixel-ratio: 2)"
/[if lt IE 8]
	= stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'