%h1 Accounts Management
- unless @user.accounts.empty?
	%h2= link_to 'Link Main Account', root_url + "oauth/request"
	.accounts
		= render @accounts
	%hr
= render :partial => 'new_account', :locals => { :account => Account.new }