%h1 Accounts Management
- unless @user.accounts.empty?
	.accounts
		= render @accounts
	%hr
%h3= link_to 'Link A Gmail Account', root_url + "oauth/google"
= render :partial => 'new_account', :locals => { :account => Account.new }
