%h2
	= link_to 'Edit User', edit_user_registration_path(current_user)
	|
	= link_to 'Notification Services', user_notification_services_path(current_user)

- unless @user.accounts.empty?
	.accounts
		= render @accounts
	%hr
%h3= link_to 'Link A Gmail Account', root_url + "oauth/google"
%span.account_notification_information
	%strong Note: 
	select 
	%i "sign in as a different user" 
	when prompted by google to link additional accounts.
