%h1 Accounts Management
- unless @user.accounts.empty?
	.accounts
		= render @accounts
	%hr
%h3= link_to 'Link A Gmail Account', root_url + "oauth/google"
%strong Note: 
select 
%i "sign in as a different user" 
when prompted by google to link additional accounts.
